@font-face
{
	font-family: metalGear;
	src: url("../fonts/METAG___.TTF");
}

body
{
	background-image: url("../images/metalGearBackground.jpg");
}

.container
{
	background-color: white !important;
	border: 5px solid silver;
	background-image: url(../images/metalGearBackground2.jpg); /*https://i.imgur.com/TD8WWgR.jpg*/ /*https://static.giantbomb.com/uploads/original/13/134184/2230689-mgs___ps1.jpg*/
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: black !important;
	margin-top: 5%;
}

#time
{
	font-size: 2em !important;
}

#jumboLogo
{
	max-width: 100%;
	max-height: 100%;
	margin: 5% 0 0 0;
	border: 2px solid green;
}

#triviaTitle1
{
	font-size: 6em;
	color: red;
	font-family: metalGear;
	margin: 15px 0 10px 0;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; /*Adds outline to font*/
}

#triviaTitle2
{
	color: red;
	font-family: metalGear;
	margin: 15px 0 10px 0;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; /*Adds outline to font*/
}

#start
{
	font-family: arial;
	font-weight: bold;
	color: red;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; /*Adds outline to font*/
}

.list-group
{
	background-image: url(../images/metalGearBackground2.jpg);
}